<div class="max-w-sm rounded overflow-hidden shadow-lg bg-gray-500">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">Código: {{ code }}</div>
    <p class="text-gray-200 text-base">
      Id: {{ id }}
    </p>
    <p class="text-gray-200 text-base">
      Descrição: {{ description }}
    </p>
    <p class="text-gray-200 text-base">
      Data de entrada: {{ enterDate }}
    </p>
    <p class="text-gray-200 text-base">
      Data de validade: {{ validateDate }}
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <ng-content></ng-content>
  </div>
</div>
