<app-toolbar username="currentUser.username">
  <app-button label="Logout" (clickEvent)="onLogout()"></app-button>
</app-toolbar>

<section id="product-form">
  <div class="flex justify-center items-center mt-5">
    <app-button label="Cadastrar Produto" (clickEvent)="openProdDialog()">
    </app-button>
  </div>
  <app-dialog [isOpen]="isProdDialog">
    <app-form-layout titulo="Cadastro de Produto">
      <form [formGroup]="productForm">
        <div class="mb-4">
          <app-input
            formControlName="code"
            inputName="code"
            label="Código"
            type="text"
            placeholder="Código do produto">
          </app-input>
        </div>
        <div class="mb-4">
          <app-input
            formControlName="description"
            inputName="description"
            label="Descrição"
            type="text"
            placeholder="Descrição do produto">
          </app-input>
        </div>
        <div class="mb-4">
          <app-input
            formControlName="enterDate"
            inputName="enterDate"
            label="Entrada"
            type="date"
            placeholder="Data de entrada do produto">
          </app-input>
        </div>
        <div class="mb-4">
          <app-input
            formControlName="validateDate"
            inputName="validateDate"
            label="Validade"
            type="date"
            placeholder="Validade do produto">
          </app-input>
        </div>
        <div class="flex ittems-center justify-between">
          <app-button label="Cadastrar" (clickEvent)="onProdCreate()"></app-button>
          <app-button label="Fechar" (clickEvent)="closeProdDialog()"></app-button>
        </div>
      </form>
    </app-form-layout>
  </app-dialog>
</section>

<section id="prod-cards">
  <div *ngIf="isLoading" class="flex justify-center items-center mt-5">
    <h2>Carregando Produtos...</h2>
  </div>
  <div *ngIf="!isLoading" class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <app-card
        *ngFor="let product of products"
        [id]="product.id"
        [code]="product.code"
        [description]="product.description"
        [enterDate]="product.enterDate"
        [validateDate]="product.validateDate">
          <app-button label="Comprar" (clickEvent)="openTransactionDialog()"></app-button>
      </app-card>
    </div>
  </div>
  <app-dialog [isOpen]="isTransactionDialog">
    <app-form-layout titulo="Realizando Compra">
      <form [formGroup]="transactionForm">
        <div class="mb-4">
          <app-input
            formControlName="qtdPaid"
            inputName="qtdPaid"
            label="Quantidade"
            type="number"
            placeholder="Quantidade do produto paga">
          </app-input>
        </div>
        <div class="mb-4">
          <app-input
            formControlName="deliveryData"
            inputName="deliveryData"
            label="Entrega"
            type="date"
            placeholder="Data da entrega">
          </app-input>
        </div>
        <div class="mb-4">
          <app-input
            formControlName="userId"
            inputName="userId"
            label="IdUsuário"
            type="number"
            placeholder="Id do usuário"
          >
          </app-input>
        </div>
        <div class="mb-4">
          <app-input
            formControlName="productId"
            inputName="productId"
            label="IdProduto"
            type="number"
            placeholder="Id do produto"
          >
          </app-input>
        </div>
        <div class="flex items-center justify-between">
          <app-button label="Realizar Compra" (clickEvent)="onTransactionCreate()"></app-button>
          <app-button label="Fechar" (clickEvent)="closeTransactionDialog()"></app-button>
        </div>
      </form>
    </app-form-layout>
  </app-dialog>
</section>

<section id="transactions-table">
  <div *ngIf="isLoading" class="flex justify-center items-center mt-5">
    <h2>Carregando Histórico de Transações...</h2>
  </div>
  <div *ngIf="!isLoading" class="flex justify-center items-center mt-5">
    <h2>Histórico de Transações</h2><br/>
  </div>
  <div class="px-4 py-8 mt-4">
    <app-table [transactions]="transactions"></app-table>
  </div>
  <!-- <div class="flex justify-center items-center mt-5" #elseblock>
    <h2>Sem transações</h2>
  </div> -->
</section>
